
@{
    Layout = null;
}

<div>
   
    <h1>Thanks for your order!</h1>
    <p>
        We appreciate your business!
        If you have any questions, please contact us
    </p>
  
    <div>
        <i class="fa-solid fa-house"></i>

    </div>
</div>




    <script>
        console.log("remove local");
        localStorage.removeItem("cart");

    </script>


